
<form #f="ngForm" (ngSubmit)="submit(f)" novalidate class="offset-3 col-6">
  <fieldset>
    <legend>Adicionar novo sensor</legend>
    <div class="form-group">
      <label class="control-label">País</label>
      <br />
      <input class="form-control" name="country" [(ngModel)]="sensor.country" required />
    </div>

    <div class="form-group">
      <label class="control-label" for="region">Região</label>
      <br />
      <input class="form-control" name="region" [(ngModel)]="sensor.region" required />
    </div>

    <div class="form-group">
      <label class="control-label" for="name">Nome</label>
      <br />
      <input class="form-control" name="name" [(ngModel)]="sensor.name" required />
    </div>
  </fieldset>
  

  <div *ngIf="f.submitted && f.invalid" class="alert alert-danger">
    Todos os campos devem ser informados.
  </div>
  <div *ngIf="sensorAlreadyExists" class="alert alert-danger">
    Já existe um sensor com a tag informada.
  </div>  

  <button class="btn-primary ">Adicionar</button>
</form>

